$background-image: "../images/topography.svg";
$palette-pink: #EC4899;

@use "mixins.scss";

// Font Families
$main-font: "Chelsea Market",
Arial,
Helvetica,
sans-serif;
$secondary-font: 'Londrina Solid',
cursive;
$body-font: "Open Sans",
Arial,
Helvetica,
sans-serif;

// Colour scheme
$palette-purple: #3E1052;
$palette-green: #00704A;
$palette-teal: #00B2AF;
$palette-yellow: #FFD747;
$palette-orange: #F47736;
$background-color: #fff;

$hero-palette: $palette-pink,
$palette-yellow,
$palette-teal;

// Breakpoints
$breakpoint-xl: 2000px;
$breakpoint-wide: 1200px;
$breakpoint-medium: 900px;
$breakpoint-menu: 600px; // Breakpoint for menu collapsing
$breakpoint-small: 450px;

body {
    background-image: url($background-image);
    background-size: 900px;

    h2,
    h3 {
        font-family: $secondary-font;
        letter-spacing: 3px;
        font-weight: 300;
    }
}

main {
    width: 100%;
    margin: 1rem auto 0;
    max-width: 2000px;
}

img {
    max-width: 100%;
}

#kids-hero {
    @include mixins.plain-links(white);
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin: 0 1rem 1rem;
    justify-items: stretch;

    @media only screen and (max-width: $breakpoint-wide) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @media only screen and (max-width: $breakpoint-medium) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media only screen and (max-width: $breakpoint-menu) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }

    @media only screen and (max-width: $breakpoint-small) {}

    img {
        object-fit: cover;
    }

    .kids-hero-group {
        grid-row: 1 / span 2;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        &:nth-of-type(even) {
            flex-flow: column-reverse;
        }

        @media only screen and (max-width: $breakpoint-wide) {
            grid-row: unset;
            grid-column: span 2;
            flex-flow: row;
            gap: 2rem;

            &:nth-of-type(2) {
                grid-column: unset;
                grid-row: span 2;
            }

            &:nth-of-type(4) {
                flex-flow: row;
            }
        }

        @media only screen and (max-width: $breakpoint-medium) {
            flex-flow: column;
            grid-column: span 1;
            grid-row: span 2;

            &:nth-of-type(even) {
                flex-flow: column-reverse;
            }
        }

        @media only screen and (max-width: $breakpoint-menu) {
            flex-flow: row;
            grid-column: span 2;
            grid-row: unset;

            &:nth-of-type(2) {
                grid-column: span 2;
                grid-row: unset;
            }

            &:nth-of-type(even) {
                flex-flow: row-reverse;
            }
        }
    }

    .hero-text {
        text-align: right;
        position: absolute;
        left: 50%;
        right: 0;
        bottom: 2vw;
        margin: 0;
        font-family: $secondary-font;
        color: white;
        font-size: 3vw;
        width: 40%;

        h2 {
            font-size: 3vw;
        }

        @media only screen and (max-width: $breakpoint-wide) {
            bottom: 4vw;
            width: 35%;
            left: 55%;

            h2 {
                font-size: 4vw;
            }
        }

        @media only screen and (max-width: $breakpoint-medium) {
            h2 {
                font-size: 6vw;
            }
        }
    }

    h3 {
        font-size: 2.1vw;

        @media only screen and (max-width: $breakpoint-medium) {
            font-size: 3vw;
        }

        @media only screen and (max-width: $breakpoint-menu) {
            font-size: 5vw;
        }
    }

    .card-text {
        height: calc(100% - 2rem);
    }

    p {
        text-align: center;
        font-size: 1.5vw;
        display: block;
        flex-basis: auto;
        margin: 0.5rem 0;

        @media only screen and (max-width: $breakpoint-medium) {
            font-size: 2.2vw;
        }

        @media only screen and (max-width: $breakpoint-menu) {
            font-size: 3vw;
        }
    }

    picture {
        width: calc(100% - 2rem);
        margin: 1rem;

        @media only screen and (max-width: $breakpoint-menu) {
            width: calc(100% - 1rem);
            margin: 0.5rem;
        }
    }

    .kids-hero-group:nth-of-type(2)>* {
        background-color: $palette-pink;
    }

    .kids-hero-group:nth-of-type(3)>* {
        background-color: $palette-yellow;

        a {
            color: black;
        }

    }

    .kids-hero-group:nth-of-type(4)>* {
        background-color: $palette-teal;
    }


    .kids-hero-card:nth-of-type(even) {
        border-radius: 50%;

        img {
            border-radius: 50%;
        }
    }

    .kids-hero-card {
        aspect-ratio: 1 / 1;
        margin: 0;

        @media only screen and (max-width: $breakpoint-wide) {
            &#kids-hero-main {
                aspect-ratio: unset;
            }

        }
    }

    .grow-rotate {
        @include mixins.grow-rotate;
    }

    .card-text {
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 1rem;
    }

    #kids-hero-main {
        z-index: 999;
        transform: perspective(1px) translateZ(0);
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        background-color: $palette-green;
        color: white;

        @media only screen and (max-width: $breakpoint-wide) {
            grid-column: 1 / span 3;

            img {
                aspect-ratio: 3 / 2;
            }
        }

        @media only screen and (max-width: $breakpoint-menu) {
            grid-column: 1 / span 2;
        }
    }

    @media only screen and (min-width: $breakpoint-xl) {
        h3 {
            font-size: 3rem;
        }

        p {
            font-size: 2rem;
        }
    }
}

.card {
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    font-size: 1.1rem;

    h3 {
        font-size: 2.5rem;
    }

    picture {
        width: calc(50% + 4rem);
        margin: 1rem;

    }

    img {
        border-radius: 20px;
        max-width: 100%;
    }

}

main {
    #cards-2 {

        picture {
            @media only screen and (max-width: $breakpoint-wide) {
                width: calc(100% - 2rem);
                aspect-ratio: 3 / 2;
            }

            @media only screen and (max-width: $breakpoint-medium) {
                width: calc(50% - 1rem);
                //aspect-ratio: 3 / 2;
            }

            @media only screen and (max-width: $breakpoint-menu) {
                width: calc(100% - 2rem);
            }
        }

        .card-text {
            @media only screen and (max-width: $breakpoint-wide) {
                width: calc(100% - 3rem);
            }

            @media only screen and (max-width: $breakpoint-medium) {
                width: calc(50% - 2rem);
            }

            @media only screen and (max-width: $breakpoint-menu) {
                width: calc(100% - 3rem);
            }
        }
    }
}