$main-font: "Chelsea Market",
Arial,
Helvetica,
sans-serif;
$secondary-font: "Montserrat",
Arial,
Helvetica,
sans-serif;
$body-font: "Open Sans",
Arial,
Helvetica,
sans-serif;
$palette-purple: #3E1052;
$palette-green: #00704A;
$palette-teal: #00B2AF;
$palette-yellow: #FFD747;
$palette-orange: #F47736;

@mixin no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@mixin plain-links($colour) {
    a {
        text-decoration: none;
        color: $colour;
    }

    a:visited {
        text-decoration: none;
        color: $colour;
    }
}

@mixin hover-links($element) {
    #{$element} {
        transition: background-color 0.2s linear;
    }

    #{$element}:hover {
        background-color: $palette-teal;
        transition: background-color 0.2s linear;
    }
}

html {
    min-width: 350px;
}

body {
    width: 100%;
}

// Header section
header {
    @include plain-links(white);

    color: white;
    width: 100%;
    background-color: $palette-purple;
    text-align: center;
    padding: 1rem 0 0;
    position: sticky;
    top: 0px;

    h1 {
        font-family: $main-font;
        margin: 0;
        font-size: 3rem;
    }

    .toggle {
        display: none;
    }

    nav {
        font-family: $secondary-font;
        text-transform: uppercase;

        ul {
            @include no-bullets();
            @include hover-links(a);

            display: flex;
            flex-flow: row;
            width: 80%;
            margin: 1rem auto 0;

            li {
                width: 25%;
            }

            a {
                display: block;
                padding: 1rem 0;

            }
        }
    }
}

// Hero image
#hero {
    img {
        width: 100%;
    }
}

//Body content
main {
    @include hover-links(button);
    font-family: $body-font;
    width: 80%;
    max-width: 1500px;
    margin: 2rem auto;

    picture,
    img {
        display: block;
    }

    button {
        //width: 10rem;
        background-color: $palette-green;
        display: inline-block;
        @include plain-links(white);
        margin: 0 auto 0;
        border: none;
        border-radius: 1rem;

        a {
            padding: 1rem;
            display: block;

        }
    }

    article {
        margin: 0 1rem;
        background-color: $palette-yellow;

        h2 {
            font-family: $secondary-font;
            text-align: center;
            margin: 0;
        }
    }

    #small-cards {
        @include plain-links(black);
        //@include hover-links(a>*);

        display: flex;
        flex-flow: row;

        article {
            max-width: calc(25% - 2rem);
        }

        a>* {
            transition: all 0.2s linear;
        }

        a:hover>* {
            background-color: $palette-teal;
            color: white;
            transition: all 0.2s linear;
        }

        img {
            width: 100%;
        }

        .article-text {
            padding: 1rem;
        }
    }

    #big-cards {

        article {
            display: flex;
            flex-flow: row;
            margin-top: 2rem;
            width: calc(100% - 2rem);

            .article-text {
                padding: 2rem;
                width: calc(50% - 4rem);
                display: flex;
                flex-flow: column;
                justify-content: space-between;
            }

            picture {
                min-width: 50%;
                max-width: 50%;
            }

            img {
                width: 100%;
            }
        }

        article:nth-child(even) {
            flex-flow: row-reverse;
        }
    }
}

footer {
    background-color: $palette-purple;
    color: white;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 2rem;
    font-family: $body-font;

    p {
        margin: 0;
    }
}

@media only screen and (max-width: 1200px) {

    // Big tablet or small desktop
    header {

        nav {

            ul {
                width: calc(100% - 2rem);

                li {
                    width: 25%;
                }
            }
        }
    }

    main {
        margin: 1rem auto;
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {

    main {
        #small-cards {
            //flex-flow: column;
            flex-wrap: wrap;

            article {
                margin-left: 1rem;
                margin-right: 0;
                max-width: calc(50% - 1.5rem);
                margin-bottom: 1rem;
            }
        }

        #big-cards {
            article {
                margin-top: 0;
                margin-bottom: 1rem;

                .article-text {
                    padding: 1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    header {
        position: static;
        //top: 0px;
        padding-bottom: 1rem;
        nav {
            label.toggle {
                display: block;
                padding-top: 1rem;
            }

            ul {
                max-height: 0px;
                overflow: hidden;
                flex-flow: column;
                margin-top: 0;
                //transition: max-height 0.2s linear;

                li {
                    width: 100%;
                }
            }

            .toggle:checked+.toggle+ul {
                //transition: max-height 0.2s linear;
                max-height: 100%;
            }

            .toggle:checked+label {
                padding-bottom: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    main {
        article {
            h2 {
                font-size: 1.2em;
            }

            p {
                font-size: 0.8em;
            }
        }

        #small-cards {
            flex-flow: column;

            article {
                display: flex;
                flex-flow: row;
                min-width: calc(100% - 2rem);

                picture {
                    width: 100%;
                }

                img {
                    width: 100%;
                }
            }
        }

        #big-cards {
            article:nth-child(even) {
                flex-flow: column;
            }

            article {
                margin-top: 0;
                margin-bottom: 1rem;
                flex-flow: column;

                picture {
                    min-width: 100%;
                    max-width: 100%;
                }

                img {
                    width: 100%;
                }
                .article-text{
                    width: calc(100% - 2rem);
                }
            }
        }
    }
}