@use "mixins.scss";

// Font Families
$main-font: "Chelsea Market",
Arial,
Helvetica,
sans-serif;
$secondary-font: "Montserrat",
Arial,
Helvetica,
sans-serif;
$body-font: "Open Sans",
Arial,
Helvetica,
sans-serif;

// Colour scheme
$palette-purple: #3E1052;
$palette-green: #00704A;
$palette-teal: #00B2AF;
$palette-yellow: #FFD747;
$palette-orange: #F47736;

// Breakpoints
$breakpoint-wide: 1200px;
$breakpoint-medium: 900px;
$breakpoint-menu: 600px; // Breakpoint for menu collapsing
$breakpoint-small: 450px;

// Navigation icons
$nav-icons: "../images/hippo.svg",
"../images/map.svg",
"../images/hand.svg",
"../images/ticket.svg";

html {
    min-width: 350px;
}

body {
    width: 100%;
}

// Header section
header {
    @include mixins.plain-links(white);

    @media only screen and (max-width: $breakpoint-menu) {
        position: static;
        padding-bottom: 1rem;
        @include mixins.icon-menu($nav-icons);
    }

    color: white;
    width: 100%;
    background-color: $palette-purple;
    text-align: center;
    padding: 1rem 0 0;
    position: sticky;
    top: 0px;
    z-index: 999;

    h1 {
        font-family: $main-font;
        margin: 0;
        font-size: 3rem;
    }

    .toggle {
        display: none;
    }

    nav {
        font-family: $secondary-font;
        text-transform: uppercase;

        ul {
            @include mixins.no-bullets();
            @include mixins.hover-links(a, $palette-teal);

            display: flex;
            flex-flow: row;
            width: calc(80% - 1rem);
            margin: 1rem auto 0;

            @media only screen and (max-width: $breakpoint-wide) {
                width: calc(100% - 2rem);
            }

            li {
                width: 25%;
            }

            a {
                display: block;
                padding: 1rem 0;

            }
        }
    }
}

// Hero image
#hero {
    position: relative;

    picture {
        //position: absolute;
    }

    .hero-text {
        position: absolute;
        //left: 20%;
        //bottom: 50%;
        left: 0;
        right: 0;
        bottom: 35%;
        margin: 0 auto;
        font-family: $secondary-font;
        font-size: 3rem;
        color: $palette-purple;
        width: calc(80% - 2rem);
        @media only screen and (max-width: $breakpoint-wide) {
            bottom: 27%;
        }
        @media only screen and (max-width: $breakpoint-medium) {
            font-size: 2.5rem;
            bottom: 20%;
        }
        @media only screen and (max-width: $breakpoint-menu) {
            font-size: 2rem;
            bottom: 15%;
        }
        @media only screen and (max-width: $breakpoint-small) {
            font-size: 1.5rem;
            bottom: 15%;
        }
        p{
            width: 18rem;
        }
    }

    img {
        //display: block;
        width: 100%;
    }
}

//Body content
main {
    @include mixins.hover-links(button, $palette-teal);
    font-family: $body-font;
    width: 80%;
    max-width: 1500px;
    margin: 2rem auto;

    @media only screen and (max-width: $breakpoint-wide) {
        margin: 1rem auto;
        width: 100%;
    }

    .card-text {
        line-height: 1.3;
    }

    .headline {
        font-size: 1.2em;
        text-align: center;
    }

    picture,
    img {
        display: block;
    }

    img {
        width: 100%;
    }

    p {
        line-height: 1.3;
    }

    button {
        background-color: $palette-green;
        display: inline-block;
        @include mixins.plain-links(white);
        margin: 0 auto 0;
        border: none;
        border-radius: 1rem;

        a {
            padding: 1rem;
            display: block;

        }
    }

    article {
        margin: 0 1rem;
        background-color: $palette-yellow;

        h2 {
            font-family: $secondary-font;
            text-align: center;
            margin: 0;

            @media only screen and (max-width: $breakpoint-small) {
                font-size: 1.2em;
            }
        }

        p {
            @media only screen and (max-width: $breakpoint-small) {
                font-size: 0.8em;
            }
        }
    }

    #cards-4 {
        @include mixins.plain-links(black);
        $card-links: "a>*";
        @include mixins.hover-links($card-links, $palette-teal);

        display: flex;
        flex-flow: row;
        flex-wrap: wrap;

        @media only screen and (max-width: $breakpoint-small) {
            flex-flow: column;
        }

        a {
            @include mixins.card-column();
            height: 100%;
            flex-grow: 1;
        }

        &>* {
            max-width: calc(25% - 2rem);
            margin-bottom: 2rem;

            @media only screen and (max-width: $breakpoint-medium) {
                margin-left: 1rem;
                margin-right: 0;
                max-width: calc(50% - 1.5rem);
                margin-bottom: 1rem;
            }

            @media only screen and (max-width: $breakpoint-small) {
                display: flex;
                flex-flow: row;
                min-width: calc(100% - 2rem);
            }

        }

        .card-text {
            flex-grow: 1;
            padding: 1rem;

        }
    }

    #cards-1 {
        &>* {
            display: flex;
            flex-flow: row;
            margin-bottom: 2rem;
            width: calc(100% - 2rem);

            @media only screen and (max-width: $breakpoint-medium) {
                margin-bottom: 1rem;
                flex-flow: column;

            }

            @media only screen and (max-width: $breakpoint-small) {
                margin-bottom: 1rem;
                flex-flow: column;
            }

            .card-text {
                padding: 2rem;
                width: calc(50% - 4rem);
                display: flex;
                flex-flow: column;

                @media only screen and (max-width: $breakpoint-medium) {
                    padding: 1rem;
                    width: calc(100% - 2rem);
                }

                @media only screen and (max-width: $breakpoint-small) {
                    width: calc(100% - 2rem);
                }

                button {
                    align-self: center;
                    margin-top: auto;
                }

            }

            picture {
                min-width: 50%;
                max-width: 50%;

                @media only screen and (max-width: $breakpoint-medium) {
                    min-width: 100%;
                    max-width: 100%;
                }
            }

            &:nth-child(even) {
                flex-flow: row-reverse;

                @media only screen and (max-width: $breakpoint-medium) {
                    flex-flow: column;
                }
            }
        }
    }
}

footer {
    background-color: $palette-purple;
    color: white;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 2rem;
    font-family: $body-font;

    p {
        margin: 0;
    }
}