@mixin no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@mixin plain-links($colour) {

    a,
    a:visited {
        text-decoration: none;
        color: $colour;
    }
}

@mixin hover-links($element, $highlight-color) {

    #{$element},
    #{$element}:hover {
        transition: all 0.2s linear;
    }

    #{$element}:hover {
        color: white;
        background-color: $highlight-color;
    }
}

@mixin icon-menu($icons) {
    nav {
        ul {
            margin: 0;
            width: 100%;
            margin-bottom: 1rem;

            li {
                width: calc(25% - 1rem);

                @for $i from 1 through length($icons) {
                    $icon: nth($icons, $i);

                    &:nth-child(#{$i}) {

                        a {
                            background-image: url(#{$icon});
                        }
                    }
                }
            }

            a {
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
                //padding-bottom: 1rem ;
                height: 2rem;
                width: 100%;
                padding: 0.5rem;
                font-size: 0;
            }
        }
    }
}

@mixin collapsing-menu($navbar-height, $background-color) {
    position: static;

    @at-root {

        html,
        body {
            height: 100%;
            width: 100vw;
            overflow-x: hidden;
            position: absolute;
        }

    }

    .header-wrapper {
        flex-flow: row;
        align-items: center;
    }

    h1 {
        padding: 1rem 2rem;
    }

    img {
        display: block;
    }

    label.toggle {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    input:checked~nav {
        transform: none;
        transition: transform 0.5s ease;
        overflow: hidden;
    }

    nav {
        position: absolute;
        z-index: 9999;
        right: 0;
        top: $navbar-height;
        width: 80%;
        background-color: $background-color;
        height: 100vh;
        align-items: flex-start;
        transform: translate(500px);
        transition: transform 0.5s ease;

        ul#menu {
            flex-flow: column;
            padding-top: 1rem;

            li {
                width: 100%;

                a {
                    font-size: 1.2rem;
                    padding: 2rem 2rem;
                }
            }
        }


    }
}

@mixin nav-bar() {}

@mixin card-column() {
    display: flex;
    flex-flow: column;
}

@mixin grow-rotate() {
    /* From https://ianlunn.github.io/Hover/ */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;


    &:hover,
    &:focus,
    &:active {
        -webkit-transform: scale(1.1) rotate(4deg);
        transform: scale(1.1) rotate(4deg);
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    }
}