@mixin no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@mixin plain-links($colour) {

    a,
    a:visited {
        text-decoration: none;
        color: $colour;
    }
}

@mixin hover-links($element, $highlight-color) {

    #{$element},
    #{$element}:hover {
        transition: all 0.2s linear;
    }

    #{$element}:hover {
        color: white;
        background-color: $highlight-color;
    }
}

@mixin icon-menu($icons) {
    nav {
        ul {
            margin: 0;
            width: 100%;
            margin-bottom: 1rem;

            li {
                width: calc(25% - 1rem);

                @for $i from 1 through length($icons) {
                    $icon: nth($icons, $i);

                    &:nth-child(#{$i}) {

                        a {
                            background-image: url(#{$icon});
                        }
                    }
                }
            }

            a {
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
                //padding-bottom: 1rem !important;
                height: 2rem;
                width: 100%;
                padding: 0.5rem;
                font-size: 0;
            }
        }
    }
}

@mixin collapsing-menu($navbar-height) {
    @at-root {
        html, body {
            height: 100%;
            width: 100vw;
            overflow-x: hidden;
            position:absolute;
        }

    }
    label.toggle {
        display: block;
        position: absolute;
        top: 0;
        right: 0;

        //padding-top: 1rem;
    }

    input {
        opacity: 0;
        position: absolute;
        right:2rem;
    }

    .toggle:checked {
        //max-height: 100%;
        background-color: blue;
    }

    input:checked~nav {
        transform:none;
        //background-color: blue;
        transition: transform 0.5s ease;
        //padding-bottom: 1rem;
        overflow: hidden;
        @at-root {
            html, body {
                //overflow: hidden;
            }

        }
    }

    nav {
        position: absolute;
        z-index: 9999;
        right: 0;
        top: $navbar-height;
        width: 80% !important;
        background-color: #3E1052;
        height: 100vh;
        align-items: flex-start !important;
        transform:translate(500px);
        transition: transform 0.5s ease;


        ul#menu {
            flex-flow: column;
            padding-top: 1rem;

            li {
                width: 100%;
                
                a {
                    font-size: 1.2rem;
                    padding: 2rem 2rem;
                }
            }
        }


    }
}

@mixin card-column() {
    display: flex;
    flex-flow: column;
}