html {
  min-width: 350px;
}

body {
  width: 100%;
}

header {
  color: white;
  width: 100%;
  background-color: #3E1052;
  text-align: center;
}
header a,
header a:visited {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 600px) {
  header {
    position: static;
  }
  header label.toggle {
    display: block;
  }
  header input {
    opacity: 0;
    position: absolute;
  }
  header nav {
    width: 0 !important;
  }
  header nav ul#menu {
    flex-flow: column;
    position: absolute;
    width: 14rem;
  }
  header nav ul#menu li {
    width: 100%;
  }
}
header img {
  display: none;
  height: 3rem;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 600px) {
  header img {
    display: block;
  }
}
@media only screen and (max-width: 450px) {
  header img {
    height: 2rem;
  }
}
header h1 {
  font-family: "Chelsea Market", Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 3rem;
  padding: 1rem 0;
}
@media only screen and (max-width: 600px) {
  header h1 {
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 450px) {
  header h1 {
    font-size: 2rem;
  }
}
header .header-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  width: calc(80% - 2rem);
  margin: auto;
}
@media only screen and (max-width: 1200px) {
  header .header-wrapper {
    width: calc(100% - 4rem);
  }
}
@media only screen and (max-width: 900px) {
  header .header-wrapper {
    flex-flow: column;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 600px) {
  header .header-wrapper {
    flex-flow: row;
    align-items: center;
  }
}
header nav {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  width: 66%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  header nav {
    width: 70%;
  }
}
@media only screen and (max-width: 900px) {
  header nav {
    width: 100%;
  }
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  width: 100%;
}
header nav ul a,
header nav ul a:hover {
  transition: all 0.2s linear;
}
header nav ul a:hover {
  color: white;
  background-color: #00B2AF;
}
header nav ul li {
  width: 25%;
  display: flex;
  align-items: center;
}
header nav ul a {
  display: block;
  padding: 1rem 2rem;
  width: 100%;
}

#hero {
  position: relative;
}
#hero .hero-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35%;
  margin: 0 auto;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #3E1052;
  font-size: 2rem;
  width: calc(80% - 2rem);
}
@media only screen and (max-width: 1200px) {
  #hero .hero-text {
    bottom: 27%;
  }
}
@media only screen and (max-width: 900px) {
  #hero .hero-text {
    font-size: 1.8rem;
    bottom: 20%;
  }
}
@media only screen and (max-width: 600px) {
  #hero .hero-text {
    bottom: 15%;
  }
}
@media only screen and (max-width: 450px) {
  #hero .hero-text {
    font-size: 1.5rem;
    bottom: 15%;
  }
}
#hero .hero-text > * {
  width: 18rem;
}
#hero img {
  width: 100%;
}

main {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  width: 80%;
  max-width: 1500px;
  margin: 2rem auto;
}
main button,
main button:hover {
  transition: all 0.2s linear;
}
main button:hover {
  color: white;
  background-color: #00B2AF;
}
@media only screen and (max-width: 1200px) {
  main {
    margin: 1rem auto;
    width: 100%;
  }
}
main .card-text {
  line-height: 1.3;
}
main .headline {
  font-size: 1.2em;
  text-align: center;
}
main picture,
main img {
  display: block;
}
main img {
  width: 100%;
}
main p {
  line-height: 1.3;
}
main button {
  background-color: #00704A;
  display: inline-block;
  border: none;
  border-radius: 1rem;
  align-self: center;
  margin-top: auto;
  width: 50%;
}
main button a,
main button a:visited {
  text-decoration: none;
  color: white;
}
main button a {
  padding: 1rem;
  display: block;
}
main article {
  margin: 0 1rem;
  background-color: #FFD747;
}
main article h3 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
@media only screen and (max-width: 450px) {
  main article h3 {
    font-size: 1.2em;
  }
}
main article h4 {
  margin: 0.5rem 0;
  text-align: center;
}
@media only screen and (max-width: 450px) {
  main article p {
    font-size: 0.8em;
  }
}
main #cards-4 {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
main #cards-4 a,
main #cards-4 a:visited {
  text-decoration: none;
  color: black;
}
main #cards-4 a > *,
main #cards-4 a > *:hover {
  transition: all 0.2s linear;
}
main #cards-4 a > *:hover {
  color: white;
  background-color: #00B2AF;
}
@media only screen and (max-width: 450px) {
  main #cards-4 {
    flex-flow: column;
  }
}
main #cards-4 a {
  display: flex;
  flex-flow: column;
  height: 100%;
  flex-grow: 1;
}
main #cards-4 > * {
  max-width: calc(25% - 2rem);
  margin-bottom: 2rem;
}
@media only screen and (max-width: 900px) {
  main #cards-4 > * {
    margin-left: 1rem;
    margin-right: 0;
    max-width: calc(50% - 1.5rem);
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 450px) {
  main #cards-4 > * {
    display: flex;
    flex-flow: row;
    min-width: calc(100% - 2rem);
  }
}
main #cards-4 .card-text {
  flex-grow: 1;
  padding: 1rem;
}
main #cards-2 {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
main #cards-2 > * {
  display: flex;
  flex-flow: row;
  margin-bottom: 2rem;
  width: calc(50% - 2rem);
}
main #cards-2 > *:nth-child(4n+3) {
  flex-flow: row-reverse;
}
main #cards-2 > *:nth-child(4n+4) {
  flex-flow: row-reverse;
}
main #cards-2 .card-text {
  padding: 1rem;
  width: calc(50% - 2rem);
  display: flex;
  flex-flow: column;
}
main #cards-2 picture {
  max-width: 50%;
}
main #cards-1 > * {
  display: flex;
  flex-flow: row;
  margin-bottom: 2rem;
  width: calc(100% - 2rem);
}
@media only screen and (max-width: 900px) {
  main #cards-1 > * {
    margin-bottom: 1rem;
    flex-flow: column;
  }
}
@media only screen and (max-width: 450px) {
  main #cards-1 > * {
    margin-bottom: 1rem;
    flex-flow: column;
  }
}
main #cards-1 > * .card-text {
  padding: 2rem;
  width: calc(50% - 4rem);
  display: flex;
  flex-flow: column;
}
@media only screen and (max-width: 900px) {
  main #cards-1 > * .card-text {
    padding: 1rem;
    width: calc(100% - 2rem);
  }
}
@media only screen and (max-width: 450px) {
  main #cards-1 > * .card-text {
    width: calc(100% - 2rem);
  }
}
main #cards-1 > * .card-text button {
  align-self: center;
  margin-top: auto;
}
main #cards-1 > * picture {
  min-width: 50%;
  max-width: 50%;
}
@media only screen and (max-width: 900px) {
  main #cards-1 > * picture {
    min-width: 100%;
    max-width: 100%;
  }
}
main #cards-1 > *:nth-child(even) {
  flex-flow: row-reverse;
}
@media only screen and (max-width: 900px) {
  main #cards-1 > *:nth-child(even) {
    flex-flow: column;
  }
}

footer {
  background-color: #3E1052;
  color: white;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
footer .footer-wrapper {
  width: calc(80% - 2rem);
  display: flex;
  flex-flow: row;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  footer .footer-wrapper {
    flex-flow: column;
  }
}
footer .footer-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding-bottom: 1rem;
}
footer .footer-row a {
  display: flex;
  align-items: center;
}
footer .footer-row img {
  width: 2.5rem;
  margin: 0 2rem;
}
@media only screen and (max-width: 600px) {
  footer .footer-row img {
    margin: 0 1rem;
  }
}
footer .footer-inner-column {
  width: 50%;
}
@media only screen and (max-width: 600px) {
  footer .footer-inner-column {
    width: 100%;
  }
}
footer .footer-inner-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 2rem;
}
footer .footer-inner-column ul a,
footer .footer-inner-column ul a:visited {
  text-decoration: none;
  color: white;
}
footer p {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
