html {
  min-width: 350px;
}

body {
  width: 100%;
  background-color: #fff;
  overflow-x: hidden;
}

h3 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h4 {
  margin: 0.5rem 0;
  text-align: center;
}

img {
  width: 100%;
}

header {
  color: white;
  width: 100%;
  background-color: #3E1052;
  text-align: center;
}
header a,
header a:visited {
  text-decoration: none;
  color: white;
}
header input {
  opacity: 0;
  position: absolute;
  right: 2rem;
}
header img {
  display: none;
  height: 3rem;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 450px) {
  header img {
    height: 2rem;
  }
}
header h1 {
  font-family: "Chelsea Market", Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 3rem;
  padding: 1rem 0;
}
@media only screen and (max-width: 450px) {
  header h1 {
    font-size: 2rem;
  }
}
header .header-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  width: calc(80% - 2rem);
  margin: auto;
}
@media only screen and (max-width: 1200px) {
  header .header-wrapper {
    width: calc(100% - 4rem);
  }
}
@media only screen and (max-width: 900px) {
  header .header-wrapper {
    flex-flow: column;
    width: 100%;
    height: 100%;
  }
}
header nav {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  width: 66%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  header nav {
    width: 70%;
  }
}
@media only screen and (max-width: 900px) {
  header nav {
    width: 100%;
  }
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  width: 100%;
}
header nav ul a,
header nav ul a:hover {
  transition: all 0.2s linear;
}
header nav ul a:hover {
  color: white;
  background-color: #00B2AF;
}
header nav ul li {
  width: 25%;
  display: flex;
  align-items: center;
}
header nav ul a {
  display: block;
  padding: 1rem 2rem;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  header nav ul {
    margin: 0;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
  header nav ul li {
    width: calc(25% - 1rem);
  }
  header nav ul li:nth-child(1) a {
    background-image: url(../images/hippo.svg);
  }
  header nav ul li:nth-child(2) a {
    background-image: url(../images/map.svg);
  }
  header nav ul li:nth-child(3) a {
    background-image: url(../images/hand.svg);
  }
  header nav ul li:nth-child(4) a {
    background-image: url(../images/ticket.svg);
  }
  header nav ul a {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    height: 2rem;
    width: 100%;
    padding: 0.5rem;
    font-size: 0;
  }
}

#hero {
  position: relative;
  z-index: 998;
}
#hero .hero-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7vw;
  margin: 0 auto;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #3E1052;
  font-size: 3vw;
  width: calc(80% - 2rem);
}
@media only screen and (max-width: 600px) {
  #hero .hero-text {
    font-size: 6vw;
    bottom: 10vw;
  }
}

main {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  width: 80%;
  max-width: 1500px;
  margin: 2rem auto;
}
main button,
main button:hover {
  transition: all 0.2s linear;
}
main button:hover {
  color: white;
  background-color: #00B2AF;
}
@media only screen and (max-width: 1200px) {
  main {
    margin: 1rem auto;
    width: 100%;
  }
}
main .headline {
  font-size: 1.2em;
  text-align: center;
}
main picture,
main img {
  display: block;
}
main button {
  background-color: #00704A;
  display: inline-block;
  border: none;
  border-radius: 1rem;
  align-self: center;
  margin-top: auto;
  width: 50%;
  min-width: fit-content;
}
main button a,
main button a:visited {
  text-decoration: none;
  color: white;
}
main button a {
  padding: 1rem;
  display: block;
}
main .card {
  margin: 0 1rem;
  background-color: #FFDD61;
  line-height: 1.3;
}
main #cards-4 {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
main #cards-4 a,
main #cards-4 a:visited {
  text-decoration: none;
  color: black;
}
main #cards-4 a > *,
main #cards-4 a > *:hover {
  transition: all 0.2s linear;
}
main #cards-4 a > *:hover {
  color: white;
  background-color: #00B2AF;
}
@media only screen and (max-width: 450px) {
  main #cards-4 {
    flex-flow: column;
  }
}
main #cards-4 .card {
  max-width: calc(25% - 2rem);
  margin-bottom: 2rem;
}
@media only screen and (max-width: 900px) {
  main #cards-4 .card {
    margin-left: 1rem;
    margin-right: 0;
    max-width: calc(50% - 1.5rem);
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 450px) {
  main #cards-4 .card {
    display: flex;
    flex-flow: row;
    min-width: calc(100% - 2rem);
  }
}
main #cards-4 .card-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
  flex-grow: 1;
}
main #cards-4 .card-text {
  flex-grow: 1;
  padding: 1rem;
}
main #cards-4 img {
  aspect-ratio: 3/2;
  object-fit: cover;
}
main #cards-2 {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
main #cards-2 .card {
  display: flex;
  flex-flow: row;
  margin-bottom: 2rem;
  width: calc(50% - 2rem);
}
@media only screen and (min-width: 1200px) {
  main #cards-2 .card:nth-child(4n+3), main #cards-2 .card:nth-child(4n+4) {
    flex-flow: row-reverse;
  }
}
@media only screen and (max-width: 1200px) {
  main #cards-2 .card {
    flex-flow: column;
  }
}
@media only screen and (max-width: 900px) {
  main #cards-2 .card {
    margin-left: 1rem;
    margin-right: 0rem;
    width: calc(100% - 2rem);
    margin-bottom: 1rem;
  }
  main #cards-2 .card:nth-child(even) {
    flex-flow: row-reverse;
  }
  main #cards-2 .card:nth-child(odd) {
    flex-flow: row;
  }
}
@media only screen and (max-width: 600px) {
  main #cards-2 .card {
    flex-flow: column;
    margin-left: 1rem;
    margin-right: 0;
    width: calc(50% - 1.5rem);
    margin-bottom: 1rem;
  }
  main #cards-2 .card:nth-child(even) {
    flex-flow: column;
  }
  main #cards-2 .card:nth-child(odd) {
    flex-flow: column;
  }
}
main #cards-2 .card-text {
  padding: 1.5rem;
  width: calc(50% - 3rem);
  display: flex;
  flex-flow: column;
}
@media only screen and (max-width: 1200px) {
  main #cards-2 .card-text {
    width: calc(100% - 3rem);
  }
}
@media only screen and (max-width: 900px) {
  main #cards-2 .card-text {
    width: calc(50% - 3rem);
  }
}
@media only screen and (max-width: 600px) {
  main #cards-2 .card-text {
    width: calc(100% - 3rem);
  }
}
main #cards-2 picture {
  width: 50%;
}
@media only screen and (max-width: 1200px) {
  main #cards-2 picture {
    width: 100%;
    aspect-ratio: 3/2;
  }
}
@media only screen and (max-width: 900px) {
  main #cards-2 picture {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  main #cards-2 picture {
    width: 100%;
  }
}
main #cards-2 img {
  height: 100%;
  object-fit: cover;
}
main #cards-1 .card {
  display: flex;
  flex-flow: row;
  margin-bottom: 2rem;
  width: calc(100% - 2rem);
}
@media only screen and (max-width: 900px) {
  main #cards-1 .card {
    margin-bottom: 1rem;
    flex-flow: column;
  }
}
main #cards-1 .card-text {
  padding: 2rem;
  width: calc(50% - 4rem);
  display: flex;
  flex-flow: column;
}
@media only screen and (max-width: 900px) {
  main #cards-1 .card-text {
    padding: 1rem;
    width: calc(100% - 2rem);
  }
}
main #cards-1 .card-text button {
  align-self: center;
  margin-top: auto;
}
main #cards-1 picture {
  width: 50%;
}
@media only screen and (max-width: 900px) {
  main #cards-1 picture {
    width: 100%;
  }
}
main #cards-1 .card:nth-of-type(even) {
  flex-flow: row-reverse;
}
@media only screen and (max-width: 900px) {
  main #cards-1 .card:nth-of-type(even) {
    flex-flow: column;
  }
}
main #cards-1 img {
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: #3E1052;
  color: white;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
footer .footer-wrapper {
  width: calc(80% - 2rem);
  display: flex;
  flex-flow: row;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  footer .footer-wrapper {
    flex-flow: column;
  }
}
footer .footer-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding-bottom: 1rem;
}
footer .footer-row a {
  display: flex;
  align-items: center;
}
footer .footer-row img {
  width: 2.5rem;
  margin: 0 2rem;
}
@media only screen and (max-width: 600px) {
  footer .footer-row img {
    margin: 0 1rem;
  }
}
footer .footer-column {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 2rem;
  width: 50%;
}
footer .footer-column a,
footer .footer-column a:visited {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 600px) {
  footer .footer-column {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
